<ion-view title="登录" hide-back-button="true" >
    <ion-content class="has-header">
        <form>
        <div class="list list-inset">
            <label class="item item-input">
                <i class="icon ion-ios7-person placeholder-icon"></i>
                <input type="email" required placeholder="邮箱">
            </label>
            <label class="item item-input">
                <i class="icon ion-ios7-locked placeholder-icon"></i>
                <input type="password" required placeholder="密码">
            </label>
            <button class="button button-block button-positive">登录</button>
            <button class="button button-block button-outline button-calm">微博登录</button>
            <button class="button button-block button-outline button-calm">微信登录</button>
            <div class="button-bar">
        </div>
        </form>
    </ion-content>
</ion-view>
