<ion-view title="注册" hide-back-button="true" >
    <ion-content class="has-header">
        <form name="regForm" ng-model="regForm" ng-sumbit="vm.action.register()">
        <div class="list list-inset">
            <label class="item item-input">
                <i class="icon ion-ios7-person placeholder-icon"></i>
                <input type="email" ng-model="vm.data.email" required placeholder="邮箱">
            </label>
            <label class="item item-input">
                <i class="icon ion-ios7-locked placeholder-icon"></i>
                <input type="password" ng-model="vm.data.password" ng-minlength="6" ng-maxlength="18" required placeholder="密码6到18位">
            </label>
            <button class="button button-block button-positive" type="submit" ng-disabled="regForm.$invalid">注册</button>
            <!--<button class="button button-block button-outline button-calm">微博登录</button>
            <button class="button button-block button-outline button-calm">微信登录</button>-->
        </div>
        </form>
    </ion-content>
</ion-view>
